<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.dango.mapper.community.BoardMapper">
	
	<select id="countBoardAll" resultType="integer">
        SELECT COUNT(BOARDID)
        FROM T_BOARD
        WHERE BOARDNOTICE = #{boardNotice}
    </select>
    
	<select id="countBoardSearchResult" resultType="integer">
        SELECT COUNT(BOARDID)
        FROM T_BOARD
        WHERE BOARDTITLE LIKE '%' || #{keyword} || '%'
    </select>

	<insert id="insertBoard">
		INSERT INTO T_BOARD 
		(BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE) 
		VALUES 
		(S_BOARD.NEXTVAL, #{boardTitle}, #{userId}, #{boardMain}, #{boardNotice})
	</insert>
	
	<delete id="deleteBoard">
		DELETE FROM T_BOARD 
		WHERE BOARDID=#{boardId}
	</delete>
	
	<update id="boardUpdate">
		UPDATE T_BOARD SET 
		BOARDTITLE=#{boardTitle}, BOARDMAIN=#{boardMain} 
		WHERE BOARDID=#{boardId}
	</update>
	
	<update id="viewsUpdate">
		UPDATE T_BOARD SET 
		BOARDVIEWS=#{boardViews}
		WHERE BOARDID=#{boardId}
	</update>
	
	<select id="getBoard" resultType="boardDTO">
		SELECT BOARDID, BOARDTITLE, b.USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, USERPROFILE
		FROM T_BOARD b JOIN T_USER u ON b.USERID = u.USERID
		WHERE BOARDID = #{boardId}
	</select>
	
	<select id="getBoardList" resultType="boardDTO">
		SELECT BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, RECOMMENDS
		FROM
		(
			SELECT ROWNUM R, BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, RECOMMENDS
			FROM
			(
				SELECT B.BOARDID, BOARDTITLE, B.USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, J.RECOMMENDS
				FROM T_BOARD B JOIN (SELECT O.BOARDID, COUNT(R.BOARDID) AS RECOMMENDS FROM T_RECOMMEND R RIGHT JOIN T_BOARD O ON R.BOARDID = O.BOARDID GROUP BY O.BOARDID) J ON B.BOARDID = J.BOARDID
				WHERE BOARDNOTICE = #{boardNotice}
				ORDER BY J.BOARDID DESC
			)
		<![CDATA[
            WHERE ROWNUM <= #{page} * 10
        )
        WHERE R > (#{page} - 1) * 10
        ]]>
	</select>
	
	<select id="getBoardFivePost" resultType="boardDTO">
		
		SELECT ROWNUM R, BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, RECOMMENDS
		FROM
		(
			SELECT B.BOARDID, BOARDTITLE, B.USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, J.RECOMMENDS
			FROM T_BOARD B JOIN (SELECT O.BOARDID, COUNT(R.BOARDID) AS RECOMMENDS FROM T_RECOMMEND R RIGHT JOIN T_BOARD O ON R.BOARDID = O.BOARDID GROUP BY O.BOARDID) J ON B.BOARDID = J.BOARDID
			WHERE BOARDNOTICE = #{boardNotice}
			ORDER BY J.BOARDID DESC
		)
		<![CDATA[
        WHERE ROWNUM <= 5
       	]]>
	</select>
	
	<select id="communitySearch" resultType="boardDTO">
		SELECT BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, RECOMMENDS
		FROM
		(
			SELECT ROWNUM R, BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, RECOMMENDS
			FROM
			(
				SELECT B.BOARDID, BOARDTITLE, B.USERID, BOARDMAIN, BOARDNOTICE, BOARDVIEWS, BOARDREGISTERDATE, BOARDUPDATEDATE, J.RECOMMENDS
				FROM T_BOARD B JOIN (SELECT O.BOARDID, COUNT(R.BOARDID) AS RECOMMENDS FROM T_RECOMMEND R RIGHT JOIN T_BOARD O ON R.BOARDID = O.BOARDID GROUP BY O.BOARDID) J ON B.BOARDID = J.BOARDID
				WHERE BOARDNOTICE = 0 AND BOARDTITLE LIKE '%' || #{keyword} || '%'
				ORDER BY J.BOARDID DESC
			)
		<![CDATA[
            WHERE ROWNUM <= #{page} * 10
        )
        WHERE R > (#{page} - 1) * 10
        ]]>
	</select>
	
</mapper>