nav > a:nth-child(4) {
    color: rgb(255, 23, 68);
}

#container {
    width: 1080px;
	height: 100%;
	margin: 100px auto;
}

#content {
	width: 1200px;
    vertical-align: top;
}

#dictionary_area {
    width: 90%;
    margin: 15px 0;
    border-collapse: separate;
    border-spacing: 15px;
    border: 3px solid rgb(236, 100, 75);
    border-radius: 8px;
    padding: 20px;
    line-height: 2;
}
.voca {
    
    font-size: 30px;
    font-weight: 400;
    padding: 30px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.word {
    display: flex;
    
}
.furigana {
    color: rgb(236, 100, 75);
    margin-right: 20px;
}
.mean {
    font-size: 20px;
    font-weight: 200;
}