@charset "UTF-8";

.IdBox{
	height: 50px;
	padding: 10px;
	justify-content: center;
    align-items: center;
}
.findIdPw {
	font-size: 15px;
    font-weight: bold;
    color: rgb(100, 100, 100);
	margin-right: 10px;
}
#show {
	margin-top: 50px;
	display: flex;
	color: rgb(255, 23, 68);
	font-weight: bold;
}